body {
  background-color: #eaf6f6;
}
.weather-app {
  max-width: 600px;
  border: 1px solid grey;
  margin: 10px auto;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px;
  background-color: #f8fcfb;
}
.main {
  color: #6b7ad0;
  margin-bottom: 0;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 40px;
}

#searching-form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.search {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  width: 125px;
  height: 40px;
  background-color: #eaf6f6;
  margin-top: 5px;
}
button {
  border: transparent;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
#geolocation {
  cursor: pointer;
  width: 45px;
  height: 47px;
  padding: 0;
  margin-top: 5px;
}
button {
  width: 35px;
  height: 40px;
}
h2 {
  color: rgba(32, 32, 32, 0.801);
  margin: 30px 0 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-weight: bolder;
}
.mainImg {
  display: flex;
  justify-content: center;
}
#information {
  padding-top: 10px;
}
.currentlyCity {
  font-size: 30px;
  padding: 10px 0 0;
}
.currentlyCountry {
  font-size: 20px;
  padding-bottom: 5px;
}
.currentlyTemperature,
.linkCurrentlyTemperature {
  color: #2c786c;
  font-size: 30px;
}
.linkCurrentlyTemperature .activ {
  color: #2c786c;
  cursor: default;
}
.linkCurrentlyTemperature .activ:hover {
  text-decoration: none;
}
.forecastTemp .activ {
  color: #2c786c;
  cursor: default;
}
.forecastTemp .activ:hover {
  text-decoration: none;
}
.col {
  font-size: 22px;
  padding: 0;
}
a {
  color: #3277c1;
}
p {
  color: rgba(32, 32, 32, 0.801);
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.days {
  font-size: 26px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: #3bbdb5;
  text-align: center;
  font-weight: bolder;
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
.date {
  color: rgba(32, 32, 32, 0.801);
  font-size: 16px;
  padding: 5px 0px 5px;
}
.temperature,
.forecastTemp {
  color: #2c786c;
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 10px;
}
.information {
  color: #ed9f66;
  padding: 5px 0 0;
  font-size: 24px;
}

#description,
#forecastInformation,
#forecastSecondInformation,
#forecastThirdInformation,
#forecastFourthInformation,
#forecastFifthInformation {
  text-transform: capitalize;
}
